{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
    <h1>Mosaic creator</h1>
    <p>
    The mosaic creator will create a mosaic based on an image you upload, from images you upload.
    </p>

    <div class="row text-center">
        <form action="api/users" method = "POST" enctype = "multipart/form-data">
            <fieldset>
                <legend>Sign Up.</legend>
                Name: <input type="text" name="username"><br>
                Email: <input type="text" name="email"><br>
                <button class="btn btn-primary" id="sendButton">submit</button>

                <!-- 
                <legend>Choose the Image, which the Mosaic will be based from.</legend>
                <input type="checkbox" name="dither">Put the Image through a dither filter.</br>
                <input type="checkbox" name="grayscale">Put the Image through a grayscale filter.</br>
                <input class="btn btn-primary" type = "file" name = "image" accept=".jpg"/>
                <button class="btn btn-primary" id="sendButton">START</button>
                -->
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

