{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
    <h1>Mosaic creator</h1>
    <p>
    The mosaic creator will create a mosaic based on an image you upload, from images you upload.
    </p>
    The Services offer include...
      <p>Generation of the Mosaic from a target image and thumb images, which are emailed to use.</p>
      <p>Generation of the Mosaic from a target image and thumb images, which are found from #hashtag(s).</p>
      <p>On site events! We will generate the mosaic from the live photos taken during the event!</p>

    <div class="row text-center">
        <form action="prereg" method = "POST" enctype = "multipart/form-data">
            <fieldset>
                <legend>Sign Up. Let us know which service you would like to use!</legend>
                <!-- Name: <input type="text" name="username"><br> -->
                Email: <input type="email" name="email"><br>
                <button class="btn btn-primary" id="sendButton">submit</button>
            </fieldset>
        </form>
    </div>



</div>
{% endblock %}

