{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
    <h1>Mosaic creator</h1>
    <!-- <img src="{{ url_for('mosaic_reference') }}?mosaic={{param}}"> -->
    <img src="{{ url_for('video_feed') }}?mosaic={{param}}">

    {% if state=='setup' %}

    <div class="row text-center">
        <form action="/api/upload/{{param}}" method = "POST" enctype = "multipart/form-data">
            <fieldset>
                <legend>Choose image files that will make up the Mosaic.</legend>
                <p>The files can be a zip file of jpg files or individual jpg files. The more images the better.</p>
                <input type="checkbox" name="dither">Put the Image through a dither filter.</br>
                <input type="checkbox" name="grayscale">Put the Image through a grayscale filter.</br>
                <input class="btn btn-primary" type = "file" name = "file" accept=".jpg, .zip"/></br>
                <button class="btn btn-primary" id="addFileButton">Add Mosaic Thumb Image</button>
            </fieldset>
        </form>
    </div>

    {% elif state=='canrun' %}

    <div class="row text-center">
        <form action="/api/upload/{{param}}" method = "POST" enctype = "multipart/form-data">
            <fieldset>
                <legend>Choose image files that will make up the Mosaic.</legend>
                <p>The files can be a zip file of jpg files or individual jpg files. The more images the better.</p>
                <input type="checkbox" name="dither">Put the Image through a dither filter.</br>
                <button class="btn btn-primary" id="addFileButton">Add Mosaic Thumb Image</button>
            </fieldset>
        </form>
    </div>

    <div class="row text-center">
        <form action="/api/start/{{param}}" method="post">
            <fieldset>
                <legend>Start the Mosaic generation.</legend>
                <p>Patch width is the width of the sample taken from the image that the mosaic will be based from.</p>
                <p>Thumb Width is the width of the image files that make up the Mosaic.</p>
                <input type="number" name="patch_width" step="1" placeholder="Patch Width" value="3" required >Patch Width</input></br>
                <input type="number" name="thumb_width" step="1" placeholder="Thumb Width" value="30" required >Thumb Width</input></br>
                <input type="checkbox" name="incremental">View Mosaic as it assembles (slower)</br>
                <button class="btn btn-primary" id="startButton">Start Mosaic</button>
            </fieldset>
        </form>
    </div>

    {% elif state=='running' %}

    <div class="row text-center">
        <form action="/api/save/{{param}}" method="post">
            <fieldset>
                <legend>Take a snapshot of mosaic while it is being generated.</legend>
                <button class="btn btn-primary" id="snapShotButton">Snapshot Mosaic</button>
            </fieldset>
        </form>
    </div>

    <div class="row text-center">
        <form action="/api/finish/{{param}}" method="post">
            <fieldset>
                <legend>Stop the mosaic generation process.</legend>
                <button class="btn btn-primary" id="finishButton">Finish Mosaic</button>
            </fieldset>
        </form>
    </div>

    {% elif state=='finished' %}

    <div class="row text-center">
        <form action="/api/retrieve/{{param}}" method="post">
            <fieldset>
                <legend>Download a zipfile of the generated files.</legend>
                <button class="btn btn-primary" id="retrieveButton">Download Mosaic</button>
            </fieldset>
        </form>
    </div>

    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}

